/* CSS predefinido para el ejercicio 1 */
#feria24 {
    border: black thin solid; 
    background-image: url("../imagenes/caseta.png");
    background-size: contain; 
    height: 50vh;
}

#flamenca-dcha,  #flamenca-izq{
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 45vh;
    width: 35vw;
    float: left;
}

#flamenca-dcha{
    background-image: url("../imagenes/flamenca_derecha.png");
    animation: flamenca-dcha 40s linear infinite;
}

#flamenca-izq{
    background-image: url("../imagenes/flamenca_izquierda.png");
    animation: flamenca-izq 40s linear infinite;
}

/* 
Movimientos que tiene que hacer las flamencas:
 * Las rotaciones intermedias son de módulo 50 grados
 * Los movimientos de la flamenca izquierda son: 50px y 200px.
 * Los movimientos de la flamenca izquierda son: -50px, -500px y 100px
 * El tiempo de la animación total es de 40s 
*/


@keyframes flamenca-dcha {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translate(50px, 100px); /* Movimiento de la flamenca hacia la posicion x:50px y:100px.*/
    }
    50%{
        transform: rotate(50deg); /* Rotacion de 50 grados para que la flamenca se gire.*/
    }
    75%{
        transform: translate(50px, 100px);
    }
    100%{
        transform: rotate(50deg);
    }
}

@keyframes flamenca-izq {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translate(50px, 200px); /* Movimiento de la flamenca hacia la posicion x:50px y:200px.*/
    }
    50%{
        transform: rotate(50deg); /* Rotacion de 50 grados para que la flamenca se gire.*/
    }
    75%{
        transform: translate(50px, 200px);
    }
    100%{
        transform: rotate(50deg);
    }
}