body{
  margin: 0;
  padding: 0;
}

.panel {
  border: medium blue solid;
  width: 450px;
  height: 600px;
  margin: 10px;
  padding: 5px;
  float: left;
  text-align: center;
}

.panelCRUD {
  border: medium blue solid;
  width: 50%;
  height: 100%;
  margin: 10px;
  padding: 5px;
  float: left;
}

.panelCRUD h1{
  text-align: center;
}

.panelCRUD h4{
  text-align: center;
  text-decoration: underline;
}

.panelCRUD select{
  width: 50%;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 17px;
}

.panelCRUD input{
  width: 50%;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 17px;
}

.panelCRUD input[type="submit"]{
  width: 25%;
  padding: 5px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.cliente {
  color: white;
  font-size: 16px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
  width: 120px;
  height: 120px;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.pagado {
  background-color: blue;
}
.pendiente {
  background-color: red;
}

.tecla {
  width: 150px;
  height: 100px;
  font-size: 22px;
  margin: 3px;
  background-color: lightskyblue;
}

.modificador {
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
  background-color: lightskyblue;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead th:nth-child(1) {
  width: 18%;
}

thead th:nth-child(2) {
  width: 8%;
}

thead th:nth-child(3) {
  width: 8%;
}

thead th:nth-child(4) {
  width: 54%;
}

thead th:nth-child(5) {
  width: 12%;
}

td,
th {
  border: 1px solid black;
  padding: 3px 5px;
  text-align: center;
}

.boton {
  background-color: lightskyblue;
  margin-bottom: 5px;
}´

h1{
  margin: 0;
}

header{
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover{
  color: #ffd700;
}