#ej1{
    background-image: url(../imagenes/nubes.jpg);
    animation: fondoAnimado 10s linear infinite;
}

#ironman{
    animation: ironmanAnimation 10s linear infinite;
}

@keyframes ironmanAnimation {
    25% {
        transform: rotate(135deg);
    }
    50% {
        transform: translate(50vw, 200px);
    }
    75% {
        transform: rotate(0deg) translate(50vw, 250px);
    }
    100% {
        transform: scale(3) translateY(-500px);
    }
}

@keyframes fondoAnimado {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}