.btn{
    background-color: #00A0D6;
    padding: 30px;
    transition: all 4s;
    position: absolute;
    overflow: hidden;
}

.top{
    top: 0;
}

.bottom{
    top: 200px;
}

.content{
    position: relative;
}

.btn:hover{
    background-color: red;
    color: yellow;
    font-size: 50px;
}

.btn:hover .top{
    top: -200px;
}

.btn:hover .bottom{
    top: 0;
}

.modal{
    background-color: #00A0D6;
    padding: 30px;
    left: 50;
    position: absolute;
    /*
    border: 10px dotted black;
    border: 1px solid red;
    */
    outline: 2px solid;
    outline-color: black;
    transition: all 4s;
    text-shadow: 1px 1px 2px red, 0 0;
}

.modal:hover{
    /*
    opacity: 0;
    visibility: hidden;
    border: 100px dotted white;
    border-left-width: 50px;
    */
    outline: 20px solid;
    outline-color: gray;
}